{% extends "base.html" %}

{% block content %}

<h3>Du bist eingeloggt, {{user}}</h3>
<p> Hier sind deine Notizen:</p>

{% for note in my_notes %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">{{note.content}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{note.source}}</li>
    <li class="list-group-item">{{note.category}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Bearbeiten</a>
    <a href="#" class="card-link">Löschen</a>
  </div>
</div>
  
{% endfor %}


<a href="{{url_for('logout')}}">Logout</a>
<a href="{{url_for('note')}}">Neue Notiz</a>
    
{% endblock content %}