{% extends "base.html" %}

<!-- navbar includes the navbar for all pages that can only be accessed with an account-->
{% block navbar %}
<nav class="header">
  <a class="navbar-brand" href="#">Zettelkasten</a>
    <ul class="nav__links">
      <li><a href="{{url_for('dashboard')}}" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i>Mein Zettelkasten</a></li>
      <li><a href="{{url_for('note')}}"class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i>Neue Notiz</a></li>
      <li><a href="{{url_for('logout')}}"class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i>Logout</a></li>
    </ul>
  </nav>
{% endblock navbar %}

{% block content %}
<div class="content">
  <aside class="sidebar">
    <ul class="list-unstyled px-2">
      <li>
        <a href="{{url_for('dashboard')}}"class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i>Alle Notizen
        </a>
      </li>
      <!-- The following loop iterates through th users categories to create a dynamic sidebar -->
      {% for category in my_categories %}
      <li>
        <a href="{{url_for('filtered_dashboard', id=category.id)}}"class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i> 
          <span>{{category.category_name}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <div>
      {{render_form(form)}}
    </div>
  </aside>
  <main class="main">
    <h3>Du bist eingeloggt, {{user}}</h3>
    <p> Hier sind deine Notizen:</p>
    <div class="card-columns"  >
      <!-- The following loop iterates through this users notes and prints them in Bootstraps card-layout-->
      {% for note in my_notes %}
        <div class="card" style="width: 18rem;" >
          <div class="card-body">
            <p class="card-text">{{note.content}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{note.source}}</li>
            <li class="list-group-item">{{note.category_name}}</li>
          </ul>
          <div class="card-body">
            <a href="{{url_for('change_note', id=note.id)}}" class="card-link">Bearbeiten</a>
            <a href="{{url_for('delete_note', id=note.id)}}" class="card-link">Löschen</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock content %}

