{% extends "base.html" %}

{% block navbar %}
  <nav class="header">
    <a class="navbar-brand">Zettelkasten</a>
    <ul class="nav__links">
        <li><a href="{{url_for('index')}}">Start</a></li>
      <li><a href="{{url_for('register')}}">Registrierung</a></li>
      <li><a href="{{url_for('login')}}">Login</a></li>
      <li><a href="{{url_for('dashboard')}}">Mein Zettelkasten</a>
      </li>
    </ul>
  </nav>
{% endblock navbar %}

{% block content %}
<main class="full_width">
  <h1>Willkommen in der Zettelkasten App!</h1>
  <br>
  {% if user %}
  <h2>Du bist bereits als {{user}} eingeloggt.</h2>
  <p>Möchtest du zu deinem Zettelkasten?</p>
  <a href="{{url_for('dashboard')}}">Dashboard</a>
  {% else %}
  <h2>Du bist nicht eingeloggt.</h2>
  <p>Möchtest du einen Account erstellen oder dich einloggen?</p>
  <a href="{{url_for('register')}}">Registrierung</a>
  <a href="{{url_for('login')}}">Login</a>
  {% endif %}
</main>
{% endblock content %}